@using ChefDish.Models
@model List<Chef>
@using System;
@using System.Collections.Generic;

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <a href="/">Chefs</a>
        <a href="/dishes">Dishes</a>
        <h2>Yum, take a look at our tasty dishes!</h2>
        <a href="/new">Add a Chef</a>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>#of Dishes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Chef item in ViewBag.Allchefs)
                    {
                        <tr>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@((DateTime.Today.Subtract(item.Birthday).TotalDays/365).ToString("0"))</td>
                            <td>@item.Dishes.Count</td>
                        </tr>                     
                    }
                </tbody>
            </table>

            
        </div>
    </body>
</html>